html{
	min-width: 600px;
	min-height: 710px;

}
body {
	display: flex;
	flex-flow: column;
	min-height: 95vh;
	background-color: #EDF7FF;
}
div.main {
	flex: 1;
}
#drophere{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: dashed black;
	font-size: 2rem;
	width: 18em;
	height: 9rem;
	text-align: center;
	background-color: rgba(244, 244, 244, 0.75);
}
.drophere-text{
	position: relative;
	top: 5%;
	height: 50%
}
#controller{display: none;}
[class^="button-"]{
	height: 2.25em;
	width: 10em;
	margin: 0.2em;
}
.button-blue{
	color: snow;
	background-color: mediumblue;
}
.button-red{
	background-color: red;
}
.viewer{
	display: flex;
	flex-direction: column;
}
.container{
	display: flex;
}
.row{
	flex-direction: row;
	margin: 0.5em;
	padding: 0.2em;
	border: solid black;
 }
img.col{
	object-fit: contain;
}
