<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Frameset//EN" "http://www.w3.org/TR/html4/frameset.dtd"￥>
<html>
<head>
	<!-- favicon等                  --><link rel="icon" type="image/x-icon" href="/favicon.ico">
	<!-- 文字コード宣言               --><meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<!-- アイコン用　remix icon 2.5.0 --><link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
	<title>{{ titleJa }} - hiyokoのHP</title>
	{{> ogpTagExceptOgImage }}
	<meta property="og:image" content="{{ ogImage }}">
</head>
<body>
	<header>
		<div style="
			background-color: #ffe5f2;
			display			: inline-block;
			width			: 100%
		">
		{{> header }}
		</div>
	</header>
	{{{ contents }}}
	<footer>{{> footer }}</footer>
	{{> CloudflareAnalyticsSnippet }}
</body>
</html>
