<style>
	footer{
		background-color: midnightblue;
		display			: inline-block;
		width			: 100%;
	}
	footer A:link,:visited{
		color			: snow;
		text-decoration	: none;
	}
	footer A#footerLinkYellow:hover{
		color : yellow;
		text-decoration: underline;
	}
</style>
<div>
		<A href="https://www.nicovideo.jp/watch/nm18232196" >
			&#9320;
		</A> 
		<A 
			href="/about/" 
			id="footerLinkYellow"
			>
				hiyoko
		</A> 
		<A 
			href="https://en.wikipedia.org/wiki/2022" 
			style="color:snow;
				   text-decoration: none;"
			>
			2022
		</A>
	</div>
