<div style="
	background-color: #f7f7f7;
	display			: inline-block;
	width			: 100%
">

<table>
	<tr>
		<td rowspan="2">
			<A href="/"><IMG src="/assets/icon64.png" alt="logo image with link to toppage" width="64" height="64" ></IMG></A>
			<!--何故か画像が見つからないときにサイズが適用されなくなった……？	
				その時のツイート→ttps://twitter.com/Jewel_Flash/status/1498738168954515457-->
		</td>
		<td colspan="4">
			<A 
			href="/" 
			style="color:black;
				   text-decoration: none;"
			>
			hiyokoのHP
			</A>
		</td>
	</tr>
	<tr>
		<td>
			<A href="/pages/">pages</A>
		</td>
		<td>
			<A href="/blogs/">blog</A>
		</td>
		<td>
			<A href="https://twitter.com/Jewel_Flash/">Twitter</A>
		</td>
		<td>
			<A href="/about/">about</A>
		</td>
	</tr>
</table>

</div>
