<table>
	<tr>
		<td rowspan="2">
			<A href="/"><IMG src="/assets/icon64.png" alt="logo image with link to toppage" width="64" height="64" ></A>
		</td>
		<td colspan="4">
			<A>hiyokoのHP</A>
		</td>
	</tr>
	<tr>
		<td>
			<A href="/pages/">pages</A>
		</td>
		<td>
			<A href="/blogs/">blog</A>
		</td>
		<td>
			<A href="https://twitter.com/Jewel_Flash/">Twitter</A>
		</td>
		<td>
			<A href="/about/">about</A>
		</td>
	</tr>
</table>
