<style>A.shareBtn{
	display:inline-block;
	height:100%;
	padding:0 0.5rem;
	mergin: 0 1rem;
	/*背景色は白抜き文字を見やすいようにすること*/
	color:snow;
	text-decoration:none;
}</style>
<A class="shareBtn" style="background-color:#1DA1F2;" href="https://twitter.com/intent/tweet?text={{titleJa}}%28%20%40Jewel_Flash%20%29%0D%0A&url=https://test-myblogwithmetalsmith.pages.dev/{{path}}"><i class="ri-twitter-fill" style="color:#FFF;"></i>tweet</A>
