<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Frameset//EN" "http://www.w3.org/TR/html4/frameset.dtd"￥>
<html>
<head>
	{{> defaultHead }}
	<title>{{ titleJa }} - hiyokoのHP</title>
</head>
<body>
	<header>
		<div style="
			background-color: #ffe5f2;
			display			: inline-block;
			width			: 100%
		">
		{{> header }}
		</div>
	</header>
	<div style="
			background-color: #EDF7FF;
			display			: inline-block;
			width			: 100%
		">
	<h1>{{ titleJa }}</h1>
	{{{ contents }}}
	</div>
	<footer>{{> footer }}</footer>
</body>
</html>
